body {
  margin: 0px !important;
}

#header {
  width: 100%;
  height: 100px;
  display: flex;
}
.full_height{
  height: 10000000px;
}
.float_left {
  float: left;
}
#exit{
  text-decoration: none;
  color: black;
}
.auto_width {
  width: auto;
}

#user {
  width: 250px;
  float: left;
  min-width: 250px;
}
a{
  text-decoration: none;
  color: black;
}
#rest {
  width: 100%;
  float: left;
  min-width: 500px;
  padding-right: 10px;
}

.float_right {
  float: right;
}

#btn_save_change {
  background-color: #FFD251;
  color: #006699;
  height: 40px;
  width: 13%;
  border: none;
  margin: auto;
  min-width: 80px;
  display: block;
  outline: none;
  font-size: 13px;
  border-radius: 5px;
  margin-top: 25px;
}
#main{
  width: 100%;
  padding-left: 40px;
  padding-top: 30px;
  background-color: #F2F4F5;
}
.main_content{
  border-left: 1px solid #E4E4E4;
  border-right: none;
  border-top: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
  width: 100%;
  min-width: 960px;
  padding: 17px;
  background-color: white;
}
.inside_content{
  height: 300px;
  width: 95%;
  overflow:hidden;overflow-y:auto;


}
.main_content_element{
  width: 700px;
  margin-left: 210px;
}
#content {
  width: 100%;
  height: 100%;
  display: flex;
}

.main_content_title{
  width: 150px;
  font-size: 16px;
  font-weight: bold;
  color: #3787AF;
}

.full_width{
  width: 100%;
}
.display_flex{
  display: flex;
}
.margin_left_five{
  margin-left: 50px;
}
.margin_left_two{
  margin-left: 20px;
}
.main_content_input_large{
  width: 490px;
  height: 28px;
  border: 1px solid #E4E4E4;
  padding-left: 10px;
  font-size: 15px;

}
.main_content_input_small{
  width: 90px;
  height: 28px;
  float: left;
  border: 1px solid #E4E4E4;
  text-align: center;
  font-size: 15px;
}
#text{
  margin-top: 10px;
  font-weight: normal;
  font-size: 16px;
}
.speccial_character{
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  font-weight: bold;
  height: 28px;
}
.padding_top_twenty_five{
  padding-top: 25px;
}
.padding_top_center{
  padding-top: 15px;
}
#left_menu{
  width: 250px;
}
.margin_top{
  margin-top: 10px;
}
.margin_top_two{
  margin-top: 20px;
}
.margin_top_much{
  margin-top: 80px;
}
.margin_bottom {
  margin-bottom: 10px!important;
}
.text_one{
  float: left;
  width: 55%;
  height: auto;
  word-break: break-all;
  text-align: left;
}
.break_line{
  margin-top: 3px;
  width: 540px;
  margin-left: 100px;
  height: 1px;
  border-bottom: 1px #E4E4E4 solid;
}
.text_two_success{
  float: left;
   width: 100px;
 }
.info{
  color: #3CBB4B;
}
.debug{
  color: black;
}
.error{
  color: red;
}
.warn{
  color: yellow;
}
.text_two_fail{
  float: left;
  width: 100px;
}
.text_three_success{
  float: left;
  color: black;
}
.text_three_fail{
  float: left;
}
.menu_left {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #E4E4E4;
  text-align: center;
  width: 250px;
  line-height: 50px;
  position: relative;
  font-size: 18px;
  height: 50px;
}

#btn_add_machine {
  background-color: #E4E4E4;
  margin-right: 15px;
  height: 40px;
  width: 13%;
  min-width: 80px;
  border: none;
  display: block;
  outline: none;
  font-size: 13px;
  border-radius: 5px;
  margin-top: 25px;
}

.center_vertical {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#user_name {
  margin-top: 10px;
  font-size: 22px;
  color: #006699;

}

.vertical_line {
  width: 1px;
  background-color: #E4E4E4;
}

#line {
  width: 100%;
  height: 1px;
  background-color: #E4E4E4;
}




// slider

.onoffswitch {
  position: relative; width: 60px!important;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: none; border-radius: 20px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "Mở";
  padding-left: 10px;
  background-color: #006699; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "Đóng";
  padding-right: 10px;
  background-color: #EEEEEE; color: #999999;
  text-align: right;
}
.down_arrow{
  float: right;
  width: 16px;
  height: 8px;
  padding-top: 3px;
  margin-left: 10px;
}
button{
  outline: none;
  height: 32px;
  border: #E4E4E4 1px solid;
  background-color: white;
  border-radius: 5px;
  width: 180px;
  padding-left: 34px;
  text-align: center;

}
.onoffswitch-switch {
  display: block; width: 10px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 40px;
  border: none; border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

//dropdown

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  //background-color: #3e8e41;
}

.dropdown {
  width: 200px;
  margin-top: 25px;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}