.header
{
  background-color: #F2F2F2;
  height: 85px;
  max-height: 85px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.logo{
  height: 65px;
  top: 10%;
  width: 65px;
  float: left;
  margin-left: 10px;
  position: relative;
}
.link-disable{
  text-decoration: none;
  color: #006699;
}
#form{
  margin-top: 10px;
}

#email-form{
  //margin-left: 20%;
}
#forget{
  color: #FFD251;
  margin-top: 5px;
}
.margin-15{
  margin-top: 15px!important;
}


#btn-signup{
  background-color: #FFD251;
  color: #006699;
  height: 35px;
  width: 120px;
  border: none;
  margin: auto;
  margin-top: 20px;
  display: block;
  outline: none;
  font-size: 13px;
  border-radius: 5px;
}
#content{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
}
#text{
  font-size: 20px;
}
#img-part-one{
  width: 30%;
  margin: auto;
  display: block;
  margin-top: 20px;
}
#line{
  width: 100%;
  height: 1px;
  background-color: #E4E4E4;
}
.text-center{
  text-align: center;
}
.input-part-two{
  height: 35px;
  width: 75%;
  outline: none;
  margin: auto;
  display: block;

  font-size: 15px;
  border-radius: 6px;
  border: 1px #E4E4E4 double;
}

@media only screen and (max-width: 1333px) {
  #part-one{
    width: 50%;
    float: left;
  }
  #part-two{
    width: 50%;
    float: left;
  }

  #btn-signin{
    background-color: #FFD251;
    color: #006699;
    float: left;
    margin-top: 29px;
    height: 29.5px;
    width: 100px;
    margin-left: 20px;
    border: none;
    outline: none;
    font-size: 13px;
    border-radius: 5px;
    display: list-item;
  }
  .sign-form{
    float: left;
    text-align: center;
    padding-top: 5px;
    width: 30%;
  }
  #form-sign-in{
    max-width: 70%;
    width: 40%;
    min-width: 320px;
    float: left;
    height: 75px;
    margin-left: 33%;
  }
  #part-three{
  visibility: hidden;
    display: none;
  }
}
@media only screen and (max-width: 986px) {
  #form-sign-in{
    max-width: 70%;
    width: 40%;
    min-width: 320px;
    float: left;
    height: 75px;
    margin-left: 27%;
  }
}

@media only screen and (max-width: 890px) {
  #form-sign-in{
    max-width: 70%;
    width: 40%;
    min-width: 320px;
    float: left;
    height: 75px;
    margin-left: 22%;
  }
}
@media only screen and (max-width: 875px) {
  #form-sign-in{
    width: 340px;
    float: left;
    height: 75px;
    margin-left: 17%;
  }
}
@media only screen and (max-width: 803px) {
  #form-sign-in{
    width: 350px;
    float: left;
    height: 75px;
    margin-left: 12%;
  }
}
@media only screen and (max-width: 701px) {
  #form-sign-in{
    width: 350px;
    float: left;
    height: 75px;
    margin-left: 5%;
  }
}
@media only screen and (max-width: 650px) {
  #form-sign-in{
    width: 350px;
    float: left;
    height: 75px;
    margin-top: 60px;
    margin-right: 18%;
  }
}
@media only screen and (max-width: 568px) {
  #form-sign-in{
    width: 350px;
    float: left;
    height: 75px;
    margin-top: 60px;
    margin-right: 10%;
  }
}
#form-sign-in-three{
  width: 100%;
}
@media only screen and (max-width: 515px) {
  #form-sign-in{
    width: 350px;
    float: left;
    height: 75px;
    margin-top: 60px;
    margin-right: 20px;
    margin-left: -20px!important;
  }
}
@media only screen and (max-width: 500px) {
  #form-sign-in{
    visibility: visible;
    display: none;
  }
  #part-three{
    visibility: visible;
    display: inherit;
  }
}
#pw-form-three{
  width: 100%;
  position: absolute;
  left: 50%;
}
#email-form-three{
  width: 100%;
  float: left;
}
#pw-form-three{
  width: 100%;
  float: left;
}
#btn-signin-three{
  background-color: #FFD251;
  color: #006699;
  height: 35px;
  width: 120px;
  border: none;
  margin: auto;
  margin-top: 20px;
  display: block;
  outline: none;
  font-size: 13px;
  border-radius: 5px;}
@media only screen and (max-width: 603px) {
  #part-one{
    visibility: hidden;
    display: none;
  }
  #part-two{
    width: 100%;
    margin-top: 10px;
  }

}
#text-one{
  width: 100%;
  text-align: center;
  font-size: 31px;
}
#text-three{
  width: 100%;
  text-align: center;
  font-size: 31px;
}
#pw-form{
  margin-left: 15px;
}

.signin-input{
  height: 25px;
  width: 100%;
  margin-top: 5px;
  display: inline;
}
.title{
  top: 26%;
  float: left;
  position: relative;
  font-size: 30px;
  margin-left: 20px;
}
body{
  margin: 0px!important;

}