body {
  margin: 0px !important;
}
#update_success{
  color: red;margin-top: 35px;margin-right: 20px;font-size: 20px;visibility: hidden;
}
#header {
  width: 100%;
  height: 100px;
  display: flex;
}
.full_height{
  height: 10000000px;
}
.float_left {
  float: left;
}
#exit{
  text-decoration: none;
  color: black;
}
.auto_width {
  width: auto;
}

#user {
  width: 250px;
  float: left;
  min-width: 250px;
}

#rest {
  width: 100%;
  float: left;
  min-width: 300px;
  padding-right: 10px;
}

.float_right {
  float: right;
}
a{
  text-decoration: none;
  color: black;
}
#btn_save_change {
  background-color: #FFD251;
  color: #006699;
  height: 40px;
  width: 13%;
  border: none;
  margin: auto;
  min-width: 80px;
  display: block;
  outline: none;
  font-size: 13px;
  border-radius: 5px;
  margin-top: 25px;
}
#main{
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
  background-color: #F2F4F5;
}
.main_content{
  border-left: 1px solid #E4E4E4;
  border-right: none;
  border-top: 1px solid #E4E4E4;
  border-bottom: none;
  width: 100%;
  min-width: 960px;
  padding: 17px;
  background-color: white;
  height: auto;

}
.main_content_element{
  width: 700px;
  margin-left: 210px;
}
#content {
  width: 100%;
  height: 100%;
  display: flex;
}

.main_content_title{
  width: 150px;
  font-size: 20px;
  height: 100%  ;
  font-weight: bold;
  margin-top: 7px
}
.full_width{
  width: 100%;
}
.margin_left_five{
  margin-left: 50px;
}
.main_content_input_large{
  width: 490px;
  height: 28px;
  border: 1px solid #E4E4E4;
  padding-left: 10px;
  font-size: 15px;

}
.main_content_input_small{
  width: 90px;
  height: 28px;
  float: left;
  border: 1px solid #E4E4E4;
  text-align: center;
  font-size: 15px;
}
#text{
  margin-top: 10px;
  font-weight: normal;
  font-size: 16px;
}
.speccial_character{
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  font-weight: bold;
  height: 28px;
}
.padding_top_twenty_five{
  padding-top: 25px;
}
.padding_top_center{
  padding-top: 15px;
}
#left_menu{
  width: 250px;
}
.margin_top{
  margin-top: 10px;
}
.margin_bottom {
  margin-bottom: 10px!important;
}
.menu_left {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #E4E4E4;
  text-align: center;
  width: 250px;
  line-height: 50px;
  position: relative;
  font-size: 18px;
  height: 50px;
}

#btn_add_machine {
  background-color: #E4E4E4;
  margin-right: 15px;
  height: 40px;
  width: 13%;
  min-width: 80px;
  border: none;
  display: block;
  outline: none;
  font-size: 13px;
  border-radius: 5px;
  margin-top: 25px;
}

.center_vertical {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#user_name {
  margin-top: 10px;
  font-size: 22px;
  color: #006699;

}

.vertical_line {
  width: 1px;
  background-color: #E4E4E4;
}

#line {
  width: 100%;
  height: 1px;
  background-color: #E4E4E4;
}




// slider

.onoffswitch {
  position: relative; width: 60px!important;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: none; border-radius: 20px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "Mở";
  padding-left: 10px;
  background-color: #006699; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "Đóng";
  padding-right: 10px;
  background-color: #EEEEEE; color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 10px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 40px;
  border: none; border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}