#logo{
  width: 200px;
  height: 200px;
}
#back{
  float: left;
  color: white;
  text-decoration: none!important;

}
.outer {
  text-align: center;
}
.inner {
  margin: 0 auto;
}
.outer2{
  max-width: 900px;
}
.margin-top{
  margin-top: 5px;
}
a{
  color: black;
}
.input-text {
  font-size: 20px;
  border: none;
  min-width: 100px;
  width: 30%;
  max-width: 40%;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #C6EEFF;
}
body{
  background-color: #42C7FF;
}

input[type="text"], input[type="password"], textarea, select {
  outline: none;
}
.outer2{
  max-width: 900px;
}
.text-white{
  color: white;
  text-decoration: none!important;

}
#dangnhap{
  font-size: 20px;
  border: none;
  min-width: 140px;
  width: 33%;
  max-width: 40%;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #39ACDC;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none!important;
  display: inline-block;
  outline: none;
  cursor: pointer;
}